{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "snoowrap": true
    },
    "extends": "airbnb",
    "rules": {
        "func-names": 0,
        "indent": [2, 2],
        "new-cap": 0,
        "no-underscore-dangle": 0,
        "prefer-template": 0,
        "class-methods-use-this": 0,
        "no-alert": 0,
        "import/no-extraneous-dependencies": 0,
        "react/forbid-prop-types": 0,
        "react/prefer-stateless-function": 0,
        "react/require-default-props": 0,
        "react/no-danger": 0,
        "jsx-a11y/no-static-element-interactions": 0,
    }
}
