.full-post {
  bottom: 0;
  left: 740px;
  overflow-x: none;
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 50px;

  &__header {
    margin: 0 0 10px 0;
    padding-left: 55px;
    position: relative;

    &__votes {
      left: 10px;
      position: absolute;
      top: 18px;
      width: 34px;

      &__up,
      &__down {
        background-repeat: norepeat;
        background-size: 16px 14px;
        height: 14px;
        margin: 0 auto;
        width: 16px;

        &:hover {
          cursor: pointer;
        }
      }

      &__up {
        background-image: url('/static/images/upvote.svg');

        &.is-active {
          background-image: url('/static/images/upvote-active.svg');
        }
      }

      &__down {
        background-image: url('/static/images/downvote.svg');
        margin-top: 2px;

        &.is-active {
          background-image: url('/static/images/downvote-active.svg');
        }
      }

      &__score {
        color: $color-text-light;
        font-size: $fontSize-small;
        margin: 1px 0;
        text-align: center;
      }
    }

    &__title {
      font-size: $fontSize-large;

      a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }

    .post-details {
      margin-top: 5px;
    }

    .post-image {
      margin-top: 10px;
      max-width: 100%;
    }

    &__text {
      margin: 20px 0 -15px;
    }
  }
}
