.full-post {
  bottom: 0;
  left: 740px;
  overflow-x: none;
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 50px;

  &__header {
    margin: 0 0 10px 0;

    &__title {
      font-size: $fontSize-large;
    }

    .post-details {
      margin-top: 5px;
    }

    &__text {
      margin: 20px 0 -15px;
    }
  }
}
