.full-post {
  border: 1px solid $color-border;
  bottom: 10px;
  left: 770px;
  overflow-x: none;
  overflow-y: auto;
  padding-bottom: 10px;
  position: fixed;
  right: 10px;
  top: 45px;

  &__header {
    &__title {
      font-size: $fontSize-large;
      padding: 10px 10px 5px;
    }

    &__details {
      color: #777;
      font-size: $fontSize-small;
      margin: 0 0 20px 10px;

      &__user {
        color: $color-text;
        font-weight: bold;

        &:after {
          content: '/';
          margin: 0 5px;
        }
      }
    }

    &__text {
      border-bottom: 1px solid $color-border;
      padding: 0 10px 10px;
    }
  }
}
