.post-comments {
  padding: 0 20px;
}

.comment {
  margin-top: 20px;
  padding-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  &__header {
    font-size: $fontSize-small;
    margin-bottom: 5px;

    &__author {
      font-weight: bold;

      &.is-op {
        color: #277bff;
      }

      a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }

    &__votes {
      color: #777;
      margin-left: 5px;
    }
  }

  &__more-comments {
    color: $color-anchor;
    font-size: $fontSize-small;
    font-weight: bold;
    margin: 10px 0;

    &:hover {
      color: $color-anchor-hover;
      cursor: pointer;
    }

    span {
      color: $color-text-light;
      font-weight: normal;
    }
  }

  &__continue-thread {
    background: url('/static/images/arrow-right-blue.svg') no-repeat right center;
    display: inline-block;
    font-size: $fontSize-small;
    font-weight: bold;
    padding-right: 14px;
    text-decoration: none;
  }

  & > .comment {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 0;
  }
}
