.post-comments {
  padding: 0 20px;
}

.comment {
  margin-top: 20px;
  padding-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  &__header {
    font-size: $fontSize-small;
    margin-bottom: 5px;

    &__author {
      font-weight: bold;

      &.is-op {
        color: #277bff;
      }

      a {
        color: $color-text;
        text-decoration: none;

        &:hover {
          color: #000;
        }
      }
    }

    &__votes {
      color: #777;
      margin-left: 5px;
    }
  }

  & > .comment {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 0;
  }
}
