.posts {
  bottom: 0;
  left: 290px;
  padding: 10px 0 0 10px;
  overflow-x: none;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  width: 450px;
}

.subreddit-post:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
