.gold {
  background: lighten(#e8b212, 40%) url('../assets/images/star.svg') no-repeat center center;
  border: 1px solid lighten(#e8b212, 30%);
  border-radius: 12px;
  display: inline-block;
  height: 12px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 12px;

  &--multi .gold__amount {
    color: $color-text-light;
    margin-left: 13px;
    position: relative;
    top: -3px;
  }
}
