.post-details {
  color: #000;
  font-size: $fontSize-small;
  margin-top: 10px;
  opacity: 0.5;

  &__item {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 10px;
    padding-left: 12px;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &--time {
      background-image: url('../assets/images/time.svg');
    }

    &--author {
      background-image: url('../assets/images/author.svg');
    }

    &--comments {
      background-image: url('../assets/images/comments.svg');
    }

    &--votes {
      background-image: url('../assets/images/arrow-up.svg');
    }
  }
}
